body {
    background-image: url(./images/background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container{
    overflow: auto;
    margin: 60px auto;
    width: 40vw;
    height: 60vh;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    padding: 20px;
}
h1{
    font-size: 2.5em;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.inputButtonDuv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
input{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    font-size: 1.2em;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    outline: none;
    text-align: center;
}
button{
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    font-size: 1.2em;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    outline: none;
    cursor: pointer;
}
.task{
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    overflow: auto;
}
img{
    width: 50px;
    height: 50px;
}
.task:hover{
    background-color: lightgreen;
}

span.unchecked::before{
    content: "\2610";
    font-size: 1.5em;

}
span.checked::before {
    content: "\2714";
    font-size: 1.5em;
    color: green;
}
.unchecked{
    color: red;
}

.deleteButton{
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    outline: none;
}
p{
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
h3{
    font-size: xx-large;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.heart{
    color: red;
    font-size: 1.2em;
    margin: 0 5px;
}
@media screen and (max-width: 480px) {
    .container{
        width: 90vw;
        height: 90vh;
    }
    .inputButtonDuv{
        flex-direction: column;
    }
    input{
        width: 100%;
        margin-bottom: 10px;
    }
    button{
        width: 100%;
    }
  }